body {
	background-color: rgb(237, 245, 245);
}

.app {
	display: block;
}

.parent-todo {
	display: flex;
	justify-content: center;
	text-overflow: clip;
}

.child-todo {
	margin: 25px;
	width: 50em;
	display: inline-block;
	background-color: rgb(255, 255, 255);
	padding: 0px 20px 20px 20px;
	border-radius: 4px;
}

.IconButton :hover {
	cursor: pointer;
}
/* 
.todoform {
	padding: 0px 0px 10px 0px;
} */

input {
	width: 100%;
	box-sizing: border-box;
}

.Nav {
  background-color: rgb(32, 42, 70);
  color: white;
  height: 40px;
}

.Nav > * {
  margin: 0;
}


li.todo {
	list-style-type: none;
	user-select: none;
	padding: 0px 10px 0px 10px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	box-sizing: border-box;
	border-bottom: 1px solid rgb(221, 218, 218);
}

p.todo-content {
	max-width: 70%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.input {
	height: 40px;
}

.todoform > * {
	margin-bottom: 10px;
}

.todoform-buttons > :first-child {
	margin-right: 10px;
}

.todo-buttons {
	display: flex;
}

.date {
	color: gray;
}

li:nth-child(odd) {
	background: rgb(241, 241, 241);
}

li:hover {
	background-color: rgb(222, 234, 243);
}
