body {
  background-color: rgb(252, 252, 252);
}

.parent-todo {
  display: flex;
  justify-content: center;
  text-overflow: clip;
}

.child-todo {
  margin: 25px;
  width: 50em;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 0px 20px 20px 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 0.3em #666;
}

input {
  width: 100%;
  box-sizing: border-box;
}


ul.todolist {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 1px solid rgb(221, 218, 218);
}


li.todo {
  list-style-type: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
  border-top: 1px solid rgb(221, 218, 218);
}

.todo-draghandle {
  color: gray;
  display: flex;
}

.todo-content-parent {
  width: 70%;
}
p.todo-content {
  width: 80%;
  max-width: 80%;
  word-wrap: break-word;
}

.todo-content-additional {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 10em
}

.todo-content-additional-icon {
  display: inline-flex;
}

.todo-buttons {
  display: flex;
}
#TocIcon {
  color:gray;
}
#TocIconHidden {
  visibility: hidden;
}

.date {
  color: gray;
  font-size: 12px;
  align-self: center;
  margin: 0;
}

li:hover {
  background-color: rgb(245, 245, 245);
}


.completion-button-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.completion-button > * {
  margin-bottom: 10px;
  display: inline-block;
  white-space: nowrap;
  font-size: small;
  cursor: pointer;
  color: gray;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track{
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background:rgb(73, 73, 73)
}