.Nav {
  background-color: rgb(32, 42, 70);
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.Nav-Item {
  display: flex;
  justify-content: space-around;
  margin: 0;
  width: 20em;
}

/* .Nav > * {
    margin: 0;
  } */
